@charset "UTF-8";
@import "../common/css3";
@import "../common/common";

// 首页底部导航
.appNav{
  $h:97px;
  height: pxTorem($h);
  background: #fff;
  @include border1px(#cacaca,top);
  @include display-flex();
  a{
    width: 100%;
    display: block;
    @include flex(1);
    height: pxTorem($h - 16);
    padding-top:pxTorem(16px);
    text-align: center;
    &:before{
      content: '\20';
      display: block;
      width: pxTorem(38px);
      height: pxTorem(38px);
      margin:0 auto pxTorem(8px);
      @extend %icoRem;
    }
    // 首页
    &.home{
      &:before{
        background-image: url("../images/icon_menu_homepage_n@2x.png");
      }
    }
    // 社区
    &.community{
      &:before{
        background-image: url("../images/icon_menu_community_n@2x.png");
      }
    }
    // 便利店
    &.convenient{
      &:before{
        background-image: url("../images/icon_menu_store_n@2x.png");
      }
    }
    // 购物车
    &.shopping{
      &:before{
        background-image: url("../images/icon_menu_shoppingtrolley_n@2x.png");
      }
    }
    // 我的
    &.my{
      &:before{
        background-image: url("../images/icon_menu_mine_n@2x.png");
      }
    }
    &.select{
      // 首页
      &.home{
        &:before{
          background-image: url("../images/icon_menu_homepage_p@2x.png");
        }
      }
      // 社区
      &.community{
        &:before{
          background-image: url("../images/icon_menu_community_p@2x.png");
        }
      }
      // 便利店
      &.convenient{
        &:before{
          background-image: url("../images/icon_menu_store_p@2x.png");
        }
      }
      // 购物车
      &.shopping{
        &:before{
          background-image: url("../images/icon_menu_shoppingtrolley_p@2x.png");
        }
      }
      // 我的
      &.my{
        &:before{
          background-image: url("../images/icon_menu_mine_p@2x.png");
        }
      }
    }
  }
}

