@charset "UTF-8";
@import "../common/css3";
@import "../common/common";

/*

      <div class="notData" style="display: none">
        <div class="box">
          <i></i>
          <span>当前没有数据哦~</span>
        </div>
      </div>


*/




// 当前没有数据哦
@mixin couponList(){

  $h:172px;
  margin:0 pxTorem(20px);
  li{
    margin-top: pxTorem(20px);
    height: pxTorem($h);
    overflow: hidden;
    @extend %icoRem;
    background-size: 100% 100%;
    background-image: url("../images/icon_coupon_big@2x.png");
    position: relative;
    // 不可用
    &.disabled{
      .not{
        display: block;
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
        background: rgba(0,0,0,.5);
        color: #fff;
        text-align: center;
        @include font-dpr(24px);
        @include display-flex();
        @include align-items();
        @include justify-content(center);
      }
    }
    // 失效
    &.invalid{
      background-image: url("../images/icon_coupon_big_disable@2x.png");
      em{
        color: #666;
      }
    }
  }
  a{
    height: pxTorem($h);
    @include display-flex();
    @include align-items();
    //position: relative;
  }
  // 不可用提示
  .not{
    display: none;
  }
  .left{
    width: 33%;
  }
  .right{
    @include flex(1);
    width: 100%;
    padding-left:pxTorem(20px);
  }
  .Price{
    display: block;
    text-align: center;
    @include font-dpr(54px);
    color: #333;
    //margin:pxTorem(30px) 0 pxTorem(14px);
    b{
      font-weight: normal;
      @include font-dpr(24px);
    }
  }
  h3{
    //padding-top: pxTorem(28px);
    @include font-dpr(26px);
    color: #525254;
  }
  em{
    display: block;
    font-style: normal;
    margin-top:pxTorem(16px);
    margin-bottom:pxTorem(12px);
    @include font-dpr(26px);
    color: #926f07;
  }
  span{
    &.txt{
      display: block;
      text-align: center;
      color: #333;
    }
    &.overdue{
      display: inline-block;
      @include font-dpr(20px);
      background: #ff5823;
      color: #fff;
      padding: 0 pxTorem(6px);
      height: pxTorem(22px);
      line-height: pxTorem(22px);
    }
    &.set{
      display: block;
      text-align: center;
      width: pxTorem(162px);
      height: pxTorem(44px);
      line-height: pxTorem(44px);
      color: #fff;
      background: #e69a06;
      @include border-radius(pxTorem(6px));
      &.select{
        background: #c1b59f;
      }
    }
  }
  i{
    // 可用券
    &.steVoucher{
      position: absolute;
      right:0;
      top:pxTorem(-22px);
      content: '\20';
      display: block;
      width: pxTorem(150px);
      height: pxTorem(206px);
      @extend %icoRem;
      background-image: url("../images/icon_coupon_quan@2x.png");
    }
    // 灰色券
    &.notVoucher{
      position: absolute;
      right:0;
      top:pxTorem(-22px);
      content: '\20';
      display: block;
      width: pxTorem(150px);
      height: pxTorem(206px);
      @extend %icoRem;
      background-image: url("../images/icon_coupon_quan_disable@2x.png");
    }
    // 箭头
    &.arrowR{
      position: absolute;
      right:pxTorem(42px - 20);
      top:50%;
      margin-top:pxTorem(-30px);
      width: pxTorem(60px);
      height: pxTorem(60px);
      @include display-flex();
      @include align-items();
      @include justify-content(center);
      &:after{
        content: '\20';
        display: block;
        width: pxTorem(13px);
        height: pxTorem(24px);
        @extend %icoRem;
        background-image: url("../images/icon_coupon_arrow@2x.png");
      }
    }
    // 已过期
    &.expired{
      position: absolute;
      right:1px;
      top:2px;
      content: '\20';
      display: block;
      width: pxTorem(76px);
      height: pxTorem(89px);
      @extend %icoRem;
      background-image: url("../images/icon_coupon_quan_overdue@2x.png");
    }
    // 已使用
    &.alreadyUse{
      position: absolute;
      right:1px;
      top:2px;
      content: '\20';
      display: block;
      width: pxTorem(76px);
      height: pxTorem(89px);
      @extend %icoRem;
      background-image: url("../images/icon_coupon_quan_used@2x.png");
    }
  }

}



