@charset "UTF-8";
@import "../common/css3";
@import "../common/common";


/*******************************************************************/

//过渡.从下往上滑动
.SlideTopBottom-enter-active{
  @include animation(SlideBottomToTop 400ms);
}
.SlideTopBottom-leave-active{
  @include animation(SlideTopToBottom 400ms);
}
//从下往上滑动显示
@include keyframes(SlideBottomToTop){
  0%{
    @include translate3D(0,100%,0);
    @include opacity(50);
  }
  100%{
    @include translate3D(0,0,0);
    @include opacity(100);
  }
}
//从上往下滑动显示
@include keyframes(SlideTopToBottom){
  0%{
    @include translate3D(0,0,0);
    @include opacity(100);
  }
  100%{
    @include translate3D(0,100%,0);
    @include opacity(50);
  }
}


/*******************************************************************/


/*
  点击进入Enter：v-enter -> v-enter-active
  点击退出Leave：v-leave -> v-leave-active
*/
// 左右滑动.进入时先设置为x：100%，在修改为0
.SlideRightLeft-enter-active, .SlideRightLeft-leave-active {
  transition: all 0.2s linear;
  transform:translate3d(0, 0, 0);
}
.SlideRightLeft-enter, .SlideRightLeft-leave-active {
  opacity: 0;
  transform:translate3d(100%, 0, 0);
}
/***************************************************************************/
