@charset "UTF-8";
@import "../common/css3";
@import "../common/common";


// 黑色框简单提示
.modalToast{
  @include display-flex();
  @include align-items();
  @include justify-content(center);
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 100;
  .box{
    padding: pxTorem(15px) pxTorem(25px);
    @include border-radius(pxTorem(8px));
    background: rgba(0, 0, 0, 0.7);
    text-align:center;
  }
  i{
    vertical-align: middle;
    display: inline-block;
    //width: pxTorem(30px);
    //height: pxTorem(30px);
    // 成功
    &.success{}
    // 错误
    &.error{}
    // 警告
    &.warning{}
    // 通知
    &.info{}
    // 加载中
    &.loading{
      height: pxTorem(40px);
      width: pxTorem(40px);
      border-radius: 100%;
      display: inline-block;
      margin: 10px;
      border: 2px solid #fff;
      border-bottom-color: transparent;
      vertical-align: middle;
      @include animation(rotate 0.75s 0 linear infinite);
      //360度旋转
      @include keyframes(rotate){
        0% {
          -webkit-transform: rotate(0deg);
        }
        50% {
          -webkit-transform: rotate(180deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
    }
  }
  span{
    display: block;
    @include font-dpr(28px);
    color:#fff;
  }
}

