@charset "UTF-8";
@import "../common/css3";
@import "../common/common";

/*

                <div class="selectNum">
                  <div class="reduce"></div>
                  <input type="text" value="1" />
                  <div class="add"></div>
                </div>


*/




// 添加购物车-加减
@mixin selectNum(){
  $infoH:34px;
  @include display-flex();
  input{
    display: block;
    width: pxTorem(56px);
    height: pxTorem($infoH);
    border:0;
    color: #3f4548;
    text-align: center;
    @include font-dpr(28px);
  }
  .reduce,.add{
    display: block;
    width: pxTorem($infoH);
    height: pxTorem($infoH);
    @extend %icoRem;
  }
  .reduce{
    background-image: url("../images/icon_minus_p@2x.png");
    &.select{
      background-image: url("../images/icon_minus_n@2x.png");
    }
  }
  .add{
    background-image: url("../images/icon_store_add@2x.png");
    &.select{
      background-image: url("../images/icon_homepage_add@2x.png");
    }
  }
}



