@charset "UTF-8";
@import "../common/css3";
@import "../common/common";

/*

        <ul class="userOrderList">
          <li>
            <div class="top">
              <span class="time">订单时间：2016-09-08 12:00:00</span>
              <span class="state">待确认</span>
            </div>
            <div class="center">
              <div>
                <span>鸡肉x1</span>
                <span>1件</span>
                <strong>￥100.00</strong>
              </div>
              <div>
                <span>满200元减10元</span>
                <strong>-￥10.00</strong>
              </div>
            </div>
            <div class="bottom">
              <span class="total">共计1件</span>
              <strong><b>小计：</b>￥10.00</strong>
            </div>
          </li>
        </ul>


*/




// 当前没有数据哦
@mixin userOrderList(){
  li{
    background: #fff;
    margin-top: pxTorem(20px);
  }
  a{
    display: block;
  }
  strong{
    color: $orange-base;
    @include font-dpr(24px);
  }
  .top{
    @include border1px(#e6e6e6);
    @include display-flex();
    @include align-items();
    @include justify-content();
    padding:pxTorem(16px) pxTorem(20px);
    span{
      display: block;
      &.time{
        color: #69747b;
        @include font-dpr(24px);
      }
      &.state{
        color: #ff9800;
        @include font-dpr(26px);
      }
    }
  }
  .center{
    padding:pxTorem(16px) pxTorem(20px) 0;
    section{
      padding:0 0 pxTorem(16px) 0;
      @include display-flex();
      @include align-items();
      @include justify-content();
      @include font-dpr(24px);
    }
    div{
      @include flex(1);
    }
    h3{
      color: #43515a;
      margin-right: pxTorem(20px);
    }
    span{
      color: #43515a;
      margin-left: pxTorem(20px);
    }
    strong{
      display: block;
    }
    img{
      $w:122px;
      display: block;
      width: pxTorem($w);
      height: pxTorem($w);
      margin-right: pxTorem(20px);
    }
  }
  .bottom{
    padding:pxTorem(16px) pxTorem(20px);
    @include border1px(#e6e6e6,top);
    @include display-flex();
    @include align-items();
    @include justify-content();

    span{
      @include font-dpr(28px);
      display: block;
      color: #43515a;
    }
    strong{
      @include font-dpr(28px);
      display: block;
    }
    b{
      font-weight: normal;
      color: #43515a;
    }
  }
}



