@charset "UTF-8";
@import "../common/css3";
@import "../common/common";

/*

        <ul class="userOrderList">
          <li>
            <div class="top">
              <span class="time">订单时间：2016-09-08 12:00:00</span>
              <span class="state">待确认</span>
            </div>
            <div class="center">
              <div>
                <span>鸡肉x1</span>
                <span>1件</span>
                <strong>￥100.00</strong>
              </div>
              <div>
                <span>满200元减10元</span>
                <strong>-￥10.00</strong>
              </div>
            </div>
            <div class="bottom">
              <span class="total">共计1件</span>
              <strong><b>小计：</b>￥10.00</strong>
            </div>
          </li>
        </ul>


*/




// 当前没有数据哦
@mixin userOrderList(){
  li{
    background: #fff;
    margin-top: pxTorem(20px);
  }
  strong{
    color: $orange-base;
    @include font-dpr(24px);
  }
  .top{
    $h:60px;
    @include border1px(#e6e6e6);
    @include display-flex();
    @include align-items();
    @include justify-content();
    padding:0 pxTorem(20px);
    span{
      display: block;
      &.time{
        height: pxTorem($h);
        line-height: pxTorem($h);
        color: #69747b;
        @include font-dpr(24px);
      }
      &.state{
        height: pxTorem($h);
        line-height: pxTorem($h);
        color: #ff9800;
        @include font-dpr(26px);
      }
    }
  }
  .center{
    $h:60px;
    padding:pxTorem(10px) pxTorem(20px);
    div{
      @include display-flex();
      @include align-items();
      @include justify-content();
      @include font-dpr(24px);
    }
    span{
      color: #43515a;
      @include font-dpr(24px);
      height: pxTorem($h);
      line-height: pxTorem($h);
    }
    strong{
      display: block;
      height: pxTorem($h);
      line-height: pxTorem($h);
    }
  }
  .bottom{
    padding:0 pxTorem(20px);
    $h:84px;
    @include border1px(#e6e6e6,top);
    @include display-flex();
    @include align-items();
    @include justify-content();

    span{
      @include font-dpr(28px);
      display: block;
      color: #43515a;
      height: pxTorem($h);
      line-height: pxTorem($h);
    }
    strong{
      @include font-dpr(28px);
      display: block;
      height: pxTorem($h);
      line-height: pxTorem($h);
    }
    b{
      font-weight: normal;
      color: #43515a;
    }
  }
}



