@charset "UTF-8";
@import "common/css3";
@import "common/common";


// 确定取消弹窗
.modalAlert{
  @include display-flex();
  @include align-items();
  @include justify-content(center);
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background: rgba(0,0,0,.3);
  @include border-radius(pxTorem(4px));
  z-index:100;

  .box{
    z-index:29;
    background:#fff;
    width:85%;
    @include border-radius(pxTorem(4px));
  }
  .title{
    padding-top: pxTorem(30px);
    h2{
      text-align: center;
      @include font-dpr(32px);
      color:#333;
    }
  }
  .content{
    $h:72px;
    padding: pxTorem(20px) pxTorem(40px) pxTorem(30px);
    border-bottom: 1px solid #ddd;
    min-height: pxTorem($h);
    p{
      color:#999;
      @include font-dpr(32px);
      text-align: center;
      line-height: pxTorem($h);
    }
  }
  .btns{
    $h:70px;
    @include display-flex();
    button{
      background: #fff;
      border:0;
      padding:0;
      display: block;
      text-align: center;
      height:pxTorem($h);
      line-height:pxTorem($h);
      width:100%;
      @include flex(1);
      color:#333;
      @include font-dpr(30px);
      &.cancel{
        border-right:1px solid #dddddd;
      }
      &.confirm{
        color: #26a2ff;
      }
    }
  }
}


/*

  <div class="modalActionSheet">
    <div class="box">
      <h2>标题</h2>
      <ul v-for="(index,list) in lists">
        <li @click="">{{list}}</li>
        <li>列表</li>
        <li>列表</li>
      </ul>
      <div class="btn">
        按钮
      </div>
    </div>
  </div>

*/

// actionSheet上拉
.modalActionSheet{
  $h:78px;
  $fontSize:32px;
  z-index:100;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  .box{
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    z-index:101;
    text-align: center;
    background: #e0e0e0;
  }
  h2{
    background:#fff;
    @include font-dpr($fontSize);
    height:pxTorem($h);
    line-height:pxTorem($h);
  }
  ul{
    margin-bottom: pxTorem(10px);
    li{
      background:#fff;
      color: #333;
      height:pxTorem($h);
      line-height:pxTorem($h);
      @include font-dpr($fontSize);
      border-bottom: 1px solid #e0e0e0;
    }
  }
  .btn{
    color: #333;
    height:pxTorem($h);
    line-height:pxTorem($h);
    @include font-dpr($fontSize);
    background-color: #fff;
  }
}


//半透明遮罩
.opacity{
  z-index:28;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,.3);
}
