@charset "UTF-8";
@import "common/css3";
@import "common/common";

// 首页底部导航
.appNav{
  $h:97px;
  height: pxTorem($h);
  background: #fff;
  @include border1px(#cacaca,top);
  @include display-flex();
  a{
    width: 100%;
    display: block;
    @include flex(1);
    height: pxTorem($h - 16);
    padding-top:pxTorem(16px);
    text-align: center;
    &:before{
      content: '\20';
      display: block;
      width: pxTorem(38px);
      height: pxTorem(38px);
      margin:0 auto pxTorem(8px);
      @extend %icoRem;
    }
    // 首页
    &.home{
      &:before{
        background-image: url("../images/icon_menu_homepage_n@2x.png");
      }
    }
    // 社区
    &.community{
      &:before{
        background-image: url("../images/icon_menu_community_n@2x.png");
      }
    }
    // 便利店
    &.convenient{
      &:before{
        background-image: url("../images/icon_menu_store_n@2x.png");
      }
    }
    // 购物车
    &.shopping{
      &:before{
        background-image: url("../images/icon_menu_shoppingtrolley_n@2x.png");
      }
      position: relative;
      //z-index: 11;
      b{
        position: absolute;
        left:55%;
        top:pxTorem(10px);
        color: #fff;
        background: $orange-base;
        @include font-dpr(20px);
        padding:pxTorem(2px) pxTorem(8px);
        @include border-radius(pxTorem(15px));
      }
    }
    // 我的
    &.my{
      &:before{
        background-image: url("../images/icon_menu_mine_n@2x.png");
      }
    }
    &.select{
      // 首页
      &.home{
        &:before{
          background-image: url("../images/icon_menu_homepage_p@2x.png");
        }
      }
      // 社区
      &.community{
        &:before{
          background-image: url("../images/icon_menu_community_p@2x.png");
        }
      }
      // 便利店
      &.convenient{
        &:before{
          background-image: url("../images/icon_menu_store_p@2x.png");
        }
      }
      // 购物车
      &.shopping{
        &:before{
          background-image: url("../images/icon_menu_shoppingtrolley_p@2x.png");
        }
      }
      // 我的
      &.my{
        &:before{
          background-image: url("../images/icon_menu_mine_p@2x.png");
        }
      }
    }
  }
}


.ball-container{
  .ball {
    position: fixed;
    left: 72%;
    bottom: 6%;
    z-index: 10;
    transition: all 1s cubic-bezier(0.49, -0.29, 0.75, 0.41);
  }
  .inner {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $orange-base;
    transition: all 0.4s linear;
  }
}
