@charset "UTF-8";
@import "common/css3";
@import "common/common";

/*

      <div class="notData" style="display: none">
        <div class="box">
          <i></i>
          <span>当前没有数据哦~</span>
        </div>
      </div>


*/

// 当前没有数据哦
.notData{
  height: 100%;
  @include display-flex();
  @include align-items();
  @include justify-content(center);
  .box{

  }
  i{
    display: block;
    width: pxTorem(336px);
    height: pxTorem(254px);
    margin:0 auto;
    @extend %icoRem;
    background-image: url("../images/img_emptypage@2x.png");
  }
  span{
    text-align: center;
    display: block;
    @include font-dpr(28px);
    color: #69747b;
  }
}
