@charset "UTF-8";
@import "common/css3";
@import "common/common";

/*

                <div class="selectNum">
                  <div class="reduce"></div>
                  <input type="text" value="1" />
                  <div class="add"></div>
                </div>


*/

// 购物车加
.oneNum{
  $w:34px;
  $add:20px;
  width: pxTorem($w + $add);
  height: pxTorem($w + $add);
  @include display-flex();
  @include justify-content(center);
  @include align-items();
  &:after{
    content: '\20';
    display: block;
    width: pxTorem($w);
    height: pxTorem($w);
    @extend %icoRem;
    background-image: url("../images/icon_store_add@2x.png");
  }
  &.select{
    &:after {
      background-image: url("../images/icon_homepage_add@2x.png");
    }
  }
}
// 购物车 加[值]减
.selectNum{
  $infoH:34px;
  $add:20px;
  @include display-flex();
  position: absolute;
  right:pxTorem(-10px);
  bottom:pxTorem(-7px);
  input{
    display: block;
    width: pxTorem(48px);
    height: pxTorem($infoH + $add);
    border:0;
    color: #3f4548;
    text-align: center;
    @include font-dpr(28px);
  }
  .remove,.add{
    display: block;
    width: pxTorem($infoH + $add);
    height: pxTorem($infoH + $add);
    @include display-flex();
    @include justify-content(center);
    @include align-items();
    &:after{
      content: '\20';
      width: pxTorem($infoH);
      height: pxTorem($infoH);
      @extend %icoRem;
      display: block;
    }
  }
  .remove{
    &:after{
      background-image: url("../images/icon_minus_p@2x.png");
    }
    &.select{
      &:after {
        background-image: url("../images/icon_minus_n@2x.png");
      }
    }
  }
  .add{
    &:after{
      background-image: url("../images/icon_store_add@2x.png");
    }
    &.select{
      &:after{
        background-image: url("../images/icon_homepage_add@2x.png");
      }
    }
  }
}


