@charset "UTF-8";
@import "common/reset";
@import "common/css3";
@import "common/common";


html,body,#app,.view{
  height: 100%;
  width: 100%;
}

html{
  font-size:$browser-default-font-size;
}



//基础布局，版面
.wrap{
  @include display-flex();
  @include flex-direction(column);
  width:100%;
  height:100%;
}
article.main{
  @include flex(1);
  //overflow: hidden;
  height: 100%;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  background: $bg-base;
}
.mainScroll{
  //width:100%;
  //height:100%;
}
//.mainScroll::-webkit-scrollbar,
//.mainScroll::-webkit-scrollbar{
//  -webkit-opacity: 0;
//  opacity: 0;
//}
article.scrollHide{
  overflow:hidden;
}
header{

}
footer{

}

//vue
[v-cloak]{
  visibility: hidden;
}
.v-cloak--block,.v-cloak--inline,.v-cloak--inlineBlock{
  display: none;
}


/****************************************************/

// 引入头部
@import "components/header";

// 首页底部导航
//@import "components/appNav";

// 引入动画效果
@import "components/keyframes";

// 引入字体图标
//@import "components/fonts";

// 提示弹窗
@import "modalToast";

// 简单弹窗
@import "alert";



/****************************************************/


// 白色背景
.bgWhite{
  background: #fff;
}

// 全屏
.fullPosition{
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

//半透明遮罩
.opacity{
  z-index:88;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,.3);
}


/*

  透明      88
  提示弹窗  100
  浮动弹窗  90
  浮动购物车

*/

