@charset "UTF-8";
@import "common/css3";
@import "common/common";


.commodity{
  background: $bg-base;
}


// 详情主图片
.commodityPhoto{
  img{
    width: 100%;
    vertical-align: middle;
  }
}

// 抢购倒记时-未开始
.commodityRushTime{
  $h:108px;
  height: pxTorem(108px);
  padding:0 0 0 pxTorem(20px);
  background: #00b94c;
  @include display-flex();
  @include align-items();
  @include justify-content();
  .priceNum{
    @include display-flex();
    @include align-items();
    color: #fff;
  }
  .price{
    margin-right: pxTorem(15px);
    @include font-dpr(50px);
    b{
      @include font-dpr(22px);
      font-weight: normal;
    }
  }
  .originalCost{
    @include opacity(70);
    @include font-dpr(24px);
    display: block;
    text-decoration:line-through;
  }
  .limit{
    @include font-dpr(24px);
    display: block;
  }
  .time{
    position:relative;
    text-align: center;
    margin-right: pxTorem(45px);
    p{
      margin-bottom: pxTorem(6px);
      color: #007e34;
      @include font-dpr(26px);
    }
    .start{
      width: pxTorem(226px);
      height: pxTorem(30px);
      background: #00923c;
      color: #fff;
      @include border-radius(pxTorem(4px));
    }
    i{
      position: absolute;
      right:pxTorem(-30px);
      top:pxTorem(-4px);
      width: pxTorem(34px);
      height: pxTorem(70px);
      @extend %icoRem;
      background-image: url("../images/icon_lightning@2x.png");
    }
  }

}

// 抢购进行中
.commodityRushGo{
  $h:108px;
  height: pxTorem(108px);
  padding:0 pxTorem(20px);
  background: #ff5823;
  @include display-flex();
  @include align-items();
  @include justify-content();

  .priceNum{
    @include display-flex();
    @include align-items();
  }
  .iconClock{
    display: block;
    width: pxTorem(39px);
    height: pxTorem(43px);
    @extend %icoRem;
    background-image: url("../images/icon_clock@2x.png");
  }

  .endTime{
    margin-left: pxTorem(15px);
    color: #fffbcd;
    span{
      display: block;
    }
  }

  .time{
    position:relative;
    text-align: center;
    margin-right: pxTorem(45px);
    p{
      margin-bottom: pxTorem(6px);
      color: #fdfa19;
      @include font-dpr(26px);
    }
    .start{
      width: pxTorem(226px);
      height: pxTorem(30px);
      background: #fdfa19;
      color: #ff5823;
      @include border-radius(pxTorem(4px));
    }
    i{
      position: absolute;
      right:pxTorem(-30px);
      top:pxTorem(-4px);
      width: pxTorem(34px);
      height: pxTorem(70px);
      @extend %icoRem;
      background-image: url("../images/icon_lightning@2x.png");
    }
  }

}

// 抢购结束
.commodityRushEnd{
  $h:108px;
  height: pxTorem(108px - 20);
  background: #c2c2c2;
  color: #fff;
  padding:pxTorem(20px) 0 0 pxTorem(20px);
  h3{
    @include font-dpr(32px);
    margin-bottom: pxTorem(4px);
  }
  p{
    @include font-dpr(24px);
  }
}


.commodityTitle{
  $infoH:34px;
  background: #fff;
  padding:pxTorem(20px) pxTorem(20px) pxTorem(20px) pxTorem(30px);
  margin-bottom: pxTorem(20px);
  h1{
    @include font-dpr(30px);
    color: #3f4548;
    b{
      font-weight: normal;
      color: $green-base;
    }
  }
  .info{
    margin-top: pxTorem(24px);
    @include display-flex();
    @include align-items();
    @include justify-content(space-between);
  }
  .left,.right{
    @include display-flex();
    @include align-items();
  }
  // 现价格
  .price{
    display: block;
    margin-right: pxTorem(14px);
    @include font-dpr(40px);
    color: #ff5823;
    b{
      @include font-dpr(24px);
    }
  }
  // 原价
  .originalCost{
    height: pxTorem($infoH);
    line-height: pxTorem($infoH + 2);
    color:#9c9fa1;
    @include font-dpr(24px);
    text-decoration:line-through;
  }
  // 库存
  .repertory{
    display: block;
    color:#9c9fa1;
    @include font-dpr(24px);
  }
  // 限购
  .limit{
    margin-right: pxTorem(14px);
    height: pxTorem($infoH);
    line-height: pxTorem($infoH + 2);
    color:#9c9fa1;
    @include font-dpr(24px);
  }
  // 数量加减
  .selectNum{
    $infoH:34px;
    @include display-flex();
    input{
      display: block;
      width: pxTorem(56px);
      height: pxTorem($infoH);
      border:0;
      color: #3f4548;
      text-align: center;
      @include font-dpr(28px);
    }
    .remove,.add{
      display: block;
      width: pxTorem($infoH);
      height: pxTorem($infoH);
      @extend %icoRem;
    }
    .remove{
      background-image: url("../images/icon_minus_p@2x.png");
      &.select{
        background-image: url("../images/icon_minus_n@2x.png");
      }
    }
    .add{
      background-image: url("../images/icon_store_add@2x.png");
      &.select{
        background-image: url("../images/icon_homepage_add@2x.png");
      }
    }
  }
}


.commodityType{
  background: #fff;
  margin-bottom: pxTorem(20px);
  li{
    @include font-dpr(30px);
    color:#3f4548;
    overflow: hidden;
    height: pxTorem(87px);
    line-height: pxTorem(87px);
    @include border1px(#e6e6e6);
    padding:0 pxTorem(20px);
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}

// 优惠说明
.commodityCue{
  background: #fff;
  @include font-dpr(30px);
  color:#ff5823;
  overflow: hidden;
  //height: pxTorem(87px);
  line-height: pxTorem(50px);
  padding:pxTorem(16px) pxTorem(20px) pxTorem(10px);
  @include border1px(#e6e6e6);
}


// 提示领取优惠券
.commoditySetCoupon{
  $h:88px;
  height: pxTorem($h);
  @include display-flex();
  @include align-items();
  padding:0 pxTorem(20px);
  background: #fff;

  b{
    text-align: center;
    background: $orange-base;
    display: block;
    width: pxTorem(100px);
    height: pxTorem(42px);
    line-height: pxTorem(42px);
    color: #fff;
    @include font-dpr(24px);
    margin-right: pxTorem(18px);
    @include border-radius(pxTorem(6px));
  }
  div{
    height: pxTorem($h);
    @include flex(1);
    overflow: hidden;
  }
  span{
    height: pxTorem($h);
    line-height: pxTorem($h);
    display: inline-block;
    margin-right: pxTorem(10px);
    color: #6a737a;
    @include font-dpr(30px);
  }
  i{
    margin-left: pxTorem(18px);
    display: block;
    width: pxTorem(16px);
    height: pxTorem(30px);
    @extend %icoRem;
    background-image: url("../images/iconArrowR.png");
  }
}

// 图文详情
.commodityContent{
  margin-top: pxTorem(20px);
  h2{
    background: #fff;
    @include font-dpr(30px);
    color:#3f4548;
    overflow: hidden;
    height: pxTorem(87px);
    line-height: pxTorem(87px);
    padding:0 pxTorem(20px);
  }
  .txt{
    background: #fff;
    padding:0 pxTorem(20px) pxTorem(20px);
    img{
      width: 100%;
      vertical-align: middle;
    }
    p{
      //line-height: 2em;
      @include font-dpr(26px);
      color:#3f4548;
      padding-top: pxTorem(10px);
      //padding:pxTorem(20px);
    }
  }
}


// 正常.按钮
.commodityFooterNormal{
  $h:98px;
  height: pxTorem($h);
  @include display-flex();
  .shopping{
    @include border1px(#ccc,top);
    @include flex(1);
    background: #fff;
    display: block;
    padding-top:pxTorem(18px);
    div{
      position: relative;
      margin:0 auto pxTorem(6px);
      width: pxTorem(39px);
      height: pxTorem(38px);
      @extend %icoRem;
      background-image:url("../images/icon_menu_shoppingtrolley_n@2x.png");
    }
    b{
      position: absolute;
      left:pxTorem(26px);
      top:pxTorem(-10px);
      @include font-dpr(20px);
      color: $green-base;
      padding:0 pxTorem(6px);
      @include border-radius(pxTorem(15px));
      border:2px solid $green-base;
      background: #fff;
    }
    span{
      display: block;
      @include font-dpr(22px);
      text-align: center;
      color: #6c7072;
    }
  }
  .add{
    @include flex(1);
    background: #ff9800;
    text-align: center;
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: #fff;
    @include font-dpr(32px);
  }
  .pay{
    @include flex(1);
    background: $green-base;
    text-align: center;
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: #fff;
    @include font-dpr(32px);
  }
}

// 已售.按钮
.commodityFooterNot{
  @import "components/btn";
  @include one(div,#c6c6c6);
}
// 立即购买.按钮
.commodityFooterBuy{
  @import "components/btn";
  @include one(div);
}
// 加入购物车
.commodityFooterCart{
  $h:98px;
  height: pxTorem($h);
  @include border1px(#ccc,top);
  @include display-flex();
  .shopping{
    margin-left:pxTorem(18px);
    div{
      position: relative;
      margin:pxTorem(30px) auto 0;
      width: pxTorem(39px);
      height: pxTorem(38px);
      @extend %icoRem;
      background-image:url("../images/icon_menu_shoppingtrolley_n@2x.png");
    }
    b{
      position: absolute;
      left:pxTorem(26px);
      top:pxTorem(-10px);
      @include font-dpr(20px);
      color: $green-base;
      padding:0 pxTorem(6px);
      @include border-radius(pxTorem(15px));
      border:2px solid $green-base;
      background: #fff;
    }
    span{
      display: block;
      @include font-dpr(22px);
      text-align: center;
      color: #6c7072;
    }
  }
  .price{
    margin-left:pxTorem(18px);
    height: pxTorem($h);
    line-height: pxTorem($h);
    @include flex(1);
    @include font-dpr(30px);
    color: $orange-base;
  }
  .add{
    width: pxTorem(256px);
    background: $green-base;
    text-align: center;
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: #fff;
    @include font-dpr(32px);
  }
}

// 领取优惠券弹窗
.commoditySetCouponAlert{
  width: 100%;
  position: absolute;
  left:0;
  bottom:0;
  background: #fff;
  z-index: 90;
  ul{
    @import "components/couponList";
    @include couponList;
    max-height: pxTorem((172px + 20) * 3);
    overflow-y: auto;
    padding-bottom: pxTorem(20px);
  }
  .btn{
    $h:93px;
    height: pxTorem($h);
    line-height: pxTorem($h);
    text-align: center;
    background: $green-base;
    color: #fff;
    @include font-dpr(36px);
  }
}
