@charset "UTF-8";
@import "common/css3";
@import "common/common";


.index{
  background: $bg-base;
}


// 当前小区
.currentQuarters{
  $h:80px;
  height: pxTorem($h);
  line-height: pxTorem($h);
  background: #fff;
  padding:0 pxTorem(20px);
  @include display-flex();
  @include align-items();
  span{
    @include flex(1);
    display: block;
    @include font-dpr(32px);
    color: #394043;
  }
  i{
    display: block;
    width: pxTorem(16px);
    height: pxTorem(30px);
    @extend %icoRem;
    background-image: url("../images/iconArrowR.png");
  }
}

.indexNav{
  margin-bottom: pxTorem(20px);
  $h:184px;
  height: pxTorem($h);
  background: #fff;
  @include display-flex();
  div{
    width: 100%;
    display: block;
    @include flex(1);
    height: pxTorem($h - 32);
    padding-top:pxTorem(32px);
    text-align: center;
    @include font-dpr(22px);
    color: #6c7072;
    &:before{
      content: '\20';
      display: block;
      width: pxTorem(81px);
      height: pxTorem(80px);
      margin:0 auto pxTorem(18px);
      @extend %icoRem;
    }
    // 小区开门
    &.open{
      &:before{
        background-image: url("../images/icon_propertyservicesre_openthedoor@2x.png");
      }
    }
    // 物业报修
    &.repair{
      &:before{
        background-image: url("../images/icon_propertyservicesre_repair@2x.png");
      }
    }
    // 投诉建议
    &.complain{
      &:before{
        background-image: url("../images/icon_propertyservicesre_complain@2x.png");
      }
    }
    // 生活缴费
    &.payment{
      &:before{
        background-image: url("../images/icon_propertyservicesre_payment@2x.png");
      }
    }
  }
}

.title{
  height: pxTorem(72px);
  padding:0 pxTorem(20px);
  @include display-flex();
  @include align-items(center);
  @include justify-content();
  h2{
    height: pxTorem(28px);
    line-height: pxTorem(28px);
    color: #394043;
    @include font-dpr(30px);
    border-left:pxTorem(6px) solid $green-base;
    padding-left:pxTorem(16px);
  }
  .more{
    height: pxTorem(28px);
    line-height: pxTorem(28px);
    display: block;
    color: #9c9fa1;
    @include font-dpr(24px);
    i{
      margin-top:1px;
      vertical-align: top;
      margin-left:pxTorem(8px);
      display: inline-block;
      $w:22px;
      width: pxTorem($w);
      height: pxTorem($w);
      @extend %icoRem;
      background-image: url("../images/icon_homepage_more@2x.png");
    }

  }
}

// 活动专区
.activityHomeLayoutList{
  margin-bottom: pxTorem(20px);
  .title{
    $color:#f4f4f4;
    background: #fff;
    @include border1px($color,$type:bottom);
  }
  ul{
    $color:#f4f4f4;
    @extend %clearfix;
    position: relative;
    li{
      position: relative;
      &.style1{
        width: 100%;
        height: pxTorem(240px);
      }
      &.style2{
        width: 100%;
        height: pxTorem(120px);
        &:nth-child(2){
          @include border1px($color,$type:top);
        }
      }
      &.style3{
        width: 50%;
        float: left;
        height: pxTorem(240px);
        &:nth-child(1){
          @include border1px($color,$type:right);
        }
      }
      &.style4{
        width: 50%;
        float: left;
        height: pxTorem(120px);
        &:nth-child(1){
          height: pxTorem(240px);
          @include border1px($color,$type:right);
        }
        &:nth-child(3){
          border: 0;
          @include border1px($color,$type:top);
        }
      }
      &.style5{
        width: 50%;
        height: pxTorem(120px);
        &:nth-child(1){
          @include border1px($color,$type:bottom);
        }
        &:nth-child(3){
          @include border1px($color,$type:left);
          height: pxTorem(240px);
          position: absolute;
          right:0;
          top:0;
        }
      }
      &.style6{
        width: 50%;
        float: left;
        height: pxTorem(120px);
        &:nth-child(1){
          @include border1px($color,$type:bottom);
          @include border1px($color,$type:right,$label:before);
        }
        &:nth-child(2){
          @include border1px($color,$type:bottom);
        }
        &:nth-child(3){
          @include border1px($color,$type:right);
        }
      }
    }
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }
}

// 团购商品
.groupBuy{
  margin-bottom: pxTorem(20px);
  background: #fff;
  height: pxTorem(370px);
  .scroll{
    overflow: auto;
    margin-left:pxTorem(20px);
    $w:192px;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar{
      -webkit-opacity: 0;
      opacity: 0;
    }
    ul{
      width: 999rem
    }
    li{
      width: pxTorem($w);
      margin-right: pxTorem(18px);
      float: left;
    }
    a{
      display: block;
    }
    img{
      width: pxTorem($w);
      height: pxTorem($w);
      vertical-align: middle;
    }
    h3{
      overflow: hidden;
      height: pxTorem(30px);
      line-height: pxTorem(30px);
      @include font-dpr(26px);
      color: #3f4548;
      margin:pxTorem(16px) 0 pxTorem(18px);
    }
    .price{
      @include font-dpr(28px);
      font-weight: bold;
      color: $orange-base;
      b{
        @include font-dpr(20px);
      }
    }
  }
}

// 推荐商品
.recommend{
  @import "components/list";
  @include listCol;
}


// 领取优惠券弹窗
.indexSetCouponAlert{
  position: fixed;
  left:0;
  top:0;
  right: 0;
  bottom: 0;
  z-index: 100;
  @include display-flex();
  @include align-items();
  @include justify-content(center);
  //background: rgba(0,0,0,.5);
  .box{
    padding-bottom: pxTorem(30px);
    width: pxTorem(540px);
    background: #fff;
    @include border-radius(pxTorem(6px));
    position: relative;
  }
  .bg{
    $h:197px;
    height: pxTorem($h);
    width: pxTorem(540px);
    @extend %icoRem;
    background-size:100% 100%;
    background-image: url("../images/icon_coupon_panel_pic@2x.png");
  }
  .list{
    margin: 0 auto;
    width: pxTorem(446px);
    max-height:pxTorem(360px);
    overflow-y: auto;
  }
  ul{
    @import "components/couponList";
    @include couponList;
    width: pxTorem(412px);
    margin: 0 auto;
    li{
      background-image: url("../images/icon_coupon_small@2x.png");
      height: pxTorem(128px);
    }
    span{
      &.txt{
        position: relative;
      }
    }
  }
  .hint{
    margin-top: pxTorem(20px);
    text-align: center;
    @include font-dpr(20px);
    color: #999;
  }
  i{
    &.exit{
      width: pxTorem(44px);
      height: pxTorem(44px);
      background: rgba(255,255,255,.5);
      position: absolute;
      right:pxTorem(-44px);
      top:pxTorem(-64px);
      @include border-radius(50%);
      @include rotate(45deg);
      &:after,&:before{
        content: '\20';
        background: #fff;
        display: block;
        position: absolute;
        top:50%;
        left:50%;
      }
      &:after{
        width: 2px;
        height: pxTorem(24px);
        margin:pxTorem(-12px) 0 0 -1px;
      }
      &:before{
        width: pxTorem(24px);
        height: 2px;
        margin:-1px 0 0 pxTorem(-12px);
      }
    }
  }
}


// 选择小区
.selectQuarters{
  background: #f7f7f7;
  $h:88px;
  ul{
    margin:pxTorem(20px) 0;
    background: #fff;
  }
  li{
    height: pxTorem($h);
    line-height: pxTorem($h);
    @include border1px(#f4f4f4);
    @include font-dpr(28px);
    padding-left:pxTorem(20px);
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}
