@charset "UTF-8";
@import "common/css3";
@import "common/common";


.index{
  background: #f7f7f7;
}


// 当前小区
.currentQuarters{
  $h:80px;
  height: pxTorem($h);
  line-height: pxTorem($h);
  background: #fff;
  padding:0 pxTorem(20px);
  @include display-flex();
  @include align-items();
  span{
    @include flex(1);
    display: block;
    @include font-dpr(32px);
    color: #394043;
  }
  i{
    display: block;
    width: pxTorem(16px);
    height: pxTorem(30px);
    @extend %icoRem;
    background-image: url("../images/iconArrowR.png");
  }
}

.indexNav{
  margin-bottom: pxTorem(20px);
  $h:184px;
  height: pxTorem($h);
  background: #fff;
  @include display-flex();
  a{
    width: 100%;
    display: block;
    @include flex(1);
    height: pxTorem($h - 32);
    padding-top:pxTorem(32px);
    text-align: center;
    @include font-dpr(22px);
    color: #6c7072;
    &:before{
      content: '\20';
      display: block;
      width: pxTorem(81px);
      height: pxTorem(80px);
      margin:0 auto pxTorem(18px);
      @extend %icoRem;
    }
    // 小区开门
    &.open{
      &:before{
        background-image: url("../images/icon_propertyservicesre_openthedoor@2x.png");
      }
    }
    // 物业报修
    &.repair{
      &:before{
        background-image: url("../images/icon_propertyservicesre_repair@2x.png");
      }
    }
    // 投诉建议
    &.complain{
      &:before{
        background-image: url("../images/icon_propertyservicesre_complain@2x.png");
      }
    }
    // 生活缴费
    &.payment{
      &:before{
        background-image: url("../images/icon_propertyservicesre_payment@2x.png");
      }
    }
  }
}

.title{
  height: pxTorem(72px);
  margin:0 pxTorem(20px);
  @include display-flex();
  @include align-items(center);
  @include justify-content();
  h2{
    height: pxTorem(28px);
    line-height: pxTorem(28px);
    color: #394043;
    @include font-dpr(30px);
    border-left:pxTorem(6px) solid $green-base;
    padding-left:pxTorem(16px);
  }
  .more{
    height: pxTorem(28px);
    line-height: pxTorem(28px);
    display: block;
    color: #9c9fa1;
    @include font-dpr(24px);
    i{
      margin-top:1px;
      vertical-align: top;
      margin-left:pxTorem(8px);
      display: inline-block;
      $w:22px;
      width: pxTorem($w);
      height: pxTorem($w);
      @extend %icoRem;
      background-image: url("../images/icon_homepage_more@2x.png");
    }

  }
}

// 活动专区
.categoryHomeLayoutList{
  margin-bottom: pxTorem(20px);
  ul{
    @extend %clearfix;
    li{
      position: relative;
      $color:#f4f4f4;
      width: 50%;
      float: left;
      &:nth-child(odd){
        @include border1px($color,right)
      }
      &:before{
        content: '\20';
        display: block;
        position: absolute;
        border-top: 1px solid $color;
        left: 0;
        bottom: 0;
        width: 100%;
        @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
          &::after{
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
          }
        }
        @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
          &::after{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
          }
        }
      }
      &:nth-last-child(1),&:nth-last-child(2){
        &:before{
          display: none;
        }
      }
    }
    a{
      display: block;
    }
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
}

// 团购商品
.groupBuy{
  margin-bottom: pxTorem(20px);
  background: #fff;
  height: pxTorem(370px);
  .scroll{
    overflow: auto;
    margin-left:pxTorem(20px);
    $w:192px;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar{
      -webkit-opacity: 0;
      opacity: 0;
    }
    ul{
      width: 999rem
    }
    li{
      width: pxTorem($w);
      margin-right: pxTorem(18px);
      float: left;
    }
    a{
      display: block;
    }
    img{
      width: pxTorem($w);
      height: pxTorem($w);
      vertical-align: middle;
    }
    h3{
      overflow: hidden;
      height: pxTorem(30px);
      line-height: pxTorem(30px);
      @include font-dpr(26px);
      color: #3f4548;
      margin:pxTorem(16px) 0 pxTorem(18px);
    }
    .price{
      @include font-dpr(28px);
      font-weight: bold;
      color: $orange-base;
      b{
        @include font-dpr(20px);
      }
    }
  }
}

// 推荐商品
.recommend{
  @import "components/list";
  @include listCol;
}



