@charset "UTF-8";
@import "common/css3";
@import "common/common";


.login{
  height: 100%;
  background: #fff;
  // 广告位图片
  .loginPhoto{
    $h:308px;
    height: pxTorem($h);
    margin-bottom: pxTorem(28px);
    img{
      height: pxTorem($h);
      width: 100%;
      vertical-align: middle;
    }
  }

  // 输入栏
  .itemInfo{
    $h:110px;
    margin:0 pxTorem(40px);
    height: pxTorem($h);
    @include display-flex();
    @include align-items();
    @include border1px(#e6e6e6);
    // 图标
    i{
      margin-left: pxTorem(14px);
      margin-right: pxTorem(28px);
      display: block;
      width: pxTorem(20px);
      height: pxTorem(20px);
      background: #f00;
    }
    input{
      display: block;
      @include flex(1);
      border:0;
      height: pxTorem($h);
      line-height: pxTorem($h);
      @include font-dpr(28px);
      color: #69747b;
    }
    span{
      &.getCode{
        $h:56px;
        margin-right: pxTorem(14px);
        display: block;
        width:pxTorem(160px);
        height: pxTorem($h);
        line-height: pxTorem($h);
        text-align: center;
        border: 1px solid #00bb9c;
        color:#00bb9c;
        @include border-radius(pxTorem(40px));
      }
    }
  }

  // 登录按钮
  .loginBtn{
    $h:80px;
    margin:pxTorem(56px) pxTorem(40px) 0;
    height: pxTorem($h);
    line-height: pxTorem($h);
    text-align: center;
    @include font-dpr(30px);
    background: #00bb9c;
    color:#fff;
    @include border-radius(2px);
  }
}
