@charset "UTF-8";
@import "common/css3";
@import "common/common";





// 订单确认
.payOrder{
  background: #f7f7f7;
}

.payOrderTitle{
  $h:60px;
  height: pxTorem($h);
  line-height: pxTorem($h);
  padding-left: pxTorem(20px);
  color: #999999;
  @include font-dpr(24px);
}


.payOrderAddress{
  background: #fff;
  padding:pxTorem(20px) pxTorem(20px) pxTorem(14px);
  @include display-flex();
  @include align-items();
  .box{
    @include flex(1);
    position: relative;
    color: #43515a;
    @include font-dpr(28px);
  }
  span{
    display: block;
    line-height: pxTorem(44px);
    &.name{

    }
    &.tel{
      position: absolute;
      right: 0;
      top:0;
    }
  }
  p{
    line-height: pxTorem(44px);
  }
  .arrowR{
    margin-left:pxTorem(24px);
    display: block;
    width: pxTorem(16px);
    height: pxTorem(30px);
    @extend %icoRem;
    background-image: url("../images/iconArrowR.png");
  }
}


.payOrderTime{
  $h:88px;
  margin: pxTorem(20px) 0 0;
  padding:0 pxTorem(20px);
  background: #fff;
  @include border1px(#e6e6e6);
  height: pxTorem($h);
  @include font-dpr(28px);
  span{
    height: pxTorem($h);
    line-height: pxTorem($h);
    &.fl{
      float: left;
    }
    &.fr{
      float: right;
    }
  }
}

.payOrderTextarea{
  $h:88px;
  background: #fff;
  @include font-dpr(28px);
  padding:pxTorem(28px) pxTorem(20px);

}


.goodsList{
  background: #fff;
  width: 100%;
  $h:130px;
  $infoH:34px;
  li{
    height: pxTorem($h);
    @include border1px(#e6e6e6);
    padding:pxTorem(20px) pxTorem(20px) pxTorem(20px) pxTorem(20px);
    @include display-flex();
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  .photo{
    position: relative;
    width: pxTorem($h);
    height: pxTorem($h);
    margin-right:pxTorem(20px);
    img{
      width: pxTorem($h);
      height: pxTorem($h);
      vertical-align: middle;
    }
    i{
      font-style: normal;
      &.activity,&.goIng{
        position: absolute;
        left:0;
        top:pxTorem(-3px);
        color: #fff;
        padding-left:pxTorem(12px);
        @include font-dpr(24px);
        height: pxTorem(32px);
        line-height: pxTorem(32px);
        @extend %icoRem;
      }
    }
  }
  .box{
    position: relative;
    @include flex(1);
    height: 100%;
    width: 100%;
  }
  h3{
    overflow: hidden;
    height: pxTorem(60px);
    line-height: pxTorem(60px / 2);
    @include font-dpr(28px);
    color: #3f4548;
    b{
      color: $green-base;
      font-weight: normal;
    }
  }
  .bottom{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: pxTorem(40px);
    @include display-flex();
    @include align-items(center);
    @include justify-content();
  }
  // 价格
  .price{
    @include font-dpr(30px);
    color: $orange-base;
  }
  .num{
    @include font-dpr(30px);
  }
}


.payOrderInfo{
  $h:42px;
  margin: pxTorem(20px) 0 pxTorem(50px);
  background: #fff;
  @include font-dpr(28px);
  li{
    @include border1px(#e6e6e6);
    padding:pxTorem(24px) pxTorem(20px);
    @include display-flex();
    @include align-items();
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  i{
    &.give{
      font-style: normal;
      text-align: center;
      width: pxTorem($h);
      height: pxTorem($h);
      line-height: pxTorem($h);
      background-color: #ff5823;
      display: block;
      margin-right: pxTorem(14px);
      @include border-radius(50%);
      color: #fff;
      @include font-dpr(24px);
    }
    // 箭头
    &.arrowR{
      margin-left:pxTorem(5px);
      display: block;
      width: pxTorem(16px);
      height: pxTorem(30px);
      @extend %icoRem;
      background-image: url("../images/iconArrowR.png");
    }
  }
  span{
    display: block;
    @include flex(1);
    line-height: pxTorem(42px);
    &.prompt{
      color: #999;
    }
  }
  b{
    color: $orange-base;
    font-weight: normal;
  }
  strong{
    margin-left: pxTorem(64px);
  }
}



// 下单确认
.footerCart{
  @import "components/footerCart";
  @include footerCart;
}


// 确认订单-添加地址列表
.payOrderSelectAddress{
  ul{
    background: #fff;
  }
  li{
    position: relative;
    @include border1px(#e6e6e6);
    @include font-dpr(28px);
    padding:pxTorem(16px) pxTorem(20px);
    div{
      color: #3f4548;
    }
    span{
      line-height: pxTorem(50px);
      display: inline-block;
      &.name{
        min-width: pxTorem(104px);
      }
      &.tel{}
    }
    p{
      line-height: pxTorem(40px);
      color: #6c7072;
    }
    i{
      position: absolute;
      right: pxTorem(20px);
      top:0;
      width: pxTorem(70px);
      height: pxTorem(66px);
      @extend %icoRem;
      background-image: url("../images/icon_location_ attestation@2x.png");
    }
    //不可配送
    &.select{
      span,p{
        color: #bbb;
      }
    }
  }
}


// 确认订单-添加地址按钮
.payOrderAddAddress{
  @import "components/btn";
  @include one(div);
}


// 订单可用优惠券弹窗
.availableCouponAlert{
  background: #fff;
  h2{
    height: pxTorem(76px);
    line-height: pxTorem(76px);
    text-align: center;
    @include font-dpr(30px);
    color: #41525a;
    @include border1px(#e6e6e6);
  }
  ul{
    @import "components/selectRowRadio";
    @include selectRowRadio($h:70px,$fontSize:24px);
    margin-bottom: pxTorem(38px);
    li{
      &:last-child{
        @include border1px;
      }
    }
  }
  .btn{
    $h:93px;
    height: pxTorem($h);
    line-height: pxTorem($h);
    text-align: center;
    background: $green-base;
    color: #fff;
    @include font-dpr(36px);
  }
}


