@charset "UTF-8";
@import "common/css3";
@import "common/common";





// 限时抢购
.sale{
  background: $bg-base;
  $h:176px;
  $infoH:42px;
  ul{
    //margin-top:pxTorem(20px);
  }
  li{
    background: #fff;
    height: pxTorem($h);
    @include border1px(#dddddd);
    padding:pxTorem(20px);
    position: relative;
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  .photo{
    position: relative;
    height: pxTorem($h);
    @include display-flex();
  }
  img{
    display: block;
    width: pxTorem($h);
    height: pxTorem($h);
    vertical-align: middle;
  }
  .box{
    margin-left:pxTorem(20px);
    position: relative;
    @include flex(1);
    height: 100%;
    width: 100%;
  }
  h3{
    overflow: hidden;
    height: pxTorem(60px);
    line-height: pxTorem(60px / 2);
    @include font-dpr(26px);
    color: #3f4548;
    b{
      color: $green-base;
      font-weight: normal;
    }
  }
  // 价格
  .price{
    margin-top: pxTorem(16px);
    strong{
      @include font-dpr(30px);
      color: $orange-base;
    }
    b{
      color: $orange-base;
      font-weight: normal;
      @include font-dpr(20px);
    }
    span{
      color:#9c9fa1;
      @include font-dpr(20px);
      margin-left: pxTorem(16px);
      text-decoration: line-through;
    }
  }
  .bottom{
    position: absolute;
    left:0;
    bottom:pxTorem(4px);
    width: 100%;
    height: pxTorem(40px);
    @include display-flex();
    @include align-items(center);
    @include justify-content();
  }
  .time{
    height: pxTorem(34px);
    line-height: pxTorem(34px);
    padding:0 pxTorem(16px);
    border:1px solid #e6e6e6;
    @include border-radius(pxTorem(30px));
    @include font-dpr(20px);
    div{
      color: $green-base;
      @include font-dpr(24px);
      display: inline;
    }
  }
  // 马上抢
  .go{
    text-align: center;
    width: pxTorem(98px);
    height: pxTorem(42px);
    line-height: pxTorem(42px);
    background: $green-base;
    color: #fff;
    @include font-dpr(24px);
    @include border-radius(pxTorem(4px));
    &.select{
      background: #bbb;
    }
  }
}





