@charset "UTF-8";
@import "common/css3";
@import "common/common";

article.main{
  background: #fff;
}

.search{
  $h:56px;
  padding: pxTorem(16px) pxTorem(20px);
  height: pxTorem($h);
  @include display-flex();
  @include border1px(#e6e6e6);
  .box{
    background: #f1f1f1;
    height: pxTorem($h);
    @include display-flex();
    @include align-items();
    @include flex(1);
    @include border-radius(pxTorem(8px));
  }
  i{
    margin:0 pxTorem(10px);
    width: pxTorem(24px);
    height: pxTorem(26px);
    @extend %icoRem;
    background-image: url("../images/icon_search@2x.png");
    display: block;
  }
  input[type='search']{
    @include font-dpr(28px);
    display: block;
    width: 100%;
    @include flex(1);
    height: pxTorem($h);
    border:0;
    background: none;
  }
  .exit{
    @include font-dpr(28px);
    padding-left:pxTorem(20px);
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: $green-base;
  }
}

// 搜索列表
.searchList{
  background: $bg-base;
  $h:176px;
  @import "components/list";
  @include listRow($h:176px);
}

// 搜索记录
.searchRecord{
  padding-bottom: pxTorem(50px);
  ul{

  }
  li{
    @include font-dpr(30px);
    padding:0 pxTorem(20px);
    height: pxTorem(88px);
    line-height: pxTorem(88px);
    @include border1px(#f4f4f4);
    @include display-flex();
    @include align-items();
    span{
      display: block;
      @include flex(1);
    }
    i{
      display: block;
      width: pxTorem(16px);
      height: pxTorem(30px);
      @extend %icoRem;
      background-image: url("../images/iconArrowR.png");
    }
  }
  .exit{
    @include font-dpr(28px);
    color: $green-base;
    height: pxTorem(70px);
    line-height: pxTorem(70px);
    text-align: center;
    width: pxTorem(206px);
    border:1px solid $green-base;
    @include border-radius(pxTorem(6px));
    margin: pxTorem(50px) auto 0;
    &:active{
      background: $green-base;
      color: #fff;
    }
  }
}

// 加入购物车
.footerCart{
  @import "components/footerCart";
  @include footerCart;
}




