@charset "UTF-8";
@import "common/css3";
@import "common/common";





// 购物车
.shoppingCart{
  background: #f7f7f7;
}

.shoppingTitle{
  $h:72px;
  height: pxTorem($h);
  line-height: pxTorem($h);
  background: #fff;
  margin-bottom: pxTorem(20px);
  h3{
    padding-left:pxTorem(20px);
    float: left;
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: #3f4548;
    @include font-dpr(28px);
  }
  span{
    padding:0 pxTorem(20px);
    float: right;
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: $green-base;
    @include font-dpr(28px);
  }
}


.explain{
  background: #fff;
  @include border1px(#e6e6e6);
  padding:pxTorem(20px);
  @include display-flex();
  @include font-dpr(20px);
  span{
    padding:0 pxTorem(4px);
    height: pxTorem(28px);
    line-height: pxTorem(28px);
    color: #f45741;
    @include border-radius(pxTorem(6px));
    border:2px solid #f45741;
    margin-right: pxTorem(14px);
  }
  p{
    line-height: pxTorem(34px);
    @include flex(1);
    color: #3f4548;
  }
}

.shoppingList{
  $h:126px;
  $infoH:34px;
  background: #fff;
  margin-bottom: pxTorem(20px);
  li{
    height: pxTorem($h);
    @include border1px(#e6e6e6);
    padding:pxTorem(20px) pxTorem(20px) pxTorem(20px) 0;
    @include display-flex();
    @include align-items();
  }
  input[type='radio']{
    width: pxTorem(36px);
    height: pxTorem(36px);
    display: block;
    margin:0 pxTorem(24px) 0 pxTorem(24px);
    position: relative;
    //清除默认input格式
    border:0;
    @include appearance(none);
    outline:none;
    background:none;
    &:after{
      position: absolute;
      left:0;
      top:0;
      width: pxTorem(36px);
      height: pxTorem(36px);
      content: '\20';
      @extend %icoRem;
      background-image: url("../images/icon_shoppingtrolley_circle_n@2x.png");
    }
    &:checked{
      &:after{
        background-image: url("../images/icon_shoppingtrolley_selet_p@2x.png");
      }
    }
  }
  .photo{
    position: relative;
    width: pxTorem($h);
    height: pxTorem($h);
    margin-right:pxTorem(20px);
    img{
      width: pxTorem($h);
      height: pxTorem($h);
      vertical-align: middle;
    }
    i{
      font-style: normal;
      &.activity,&.goIng{
        position: absolute;
        left:0;
        top:pxTorem(-3px);
        color: #fff;
        padding-left:pxTorem(12px);
        @include font-dpr(24px);
        height: pxTorem(32px);
        line-height: pxTorem(32px);
        @extend %icoRem;
      }
      // 活动
      &.activity{
        width: pxTorem(66px - 12);
        background-image: url("../images/tag_store_activity@2x.png");
      }
      // 抢购中
      &.goIng{
        width: pxTorem(87px - 12);
        background-image: url("../images/tag_store_panicbuying@2x.png");
      }
    }
    span{
      @include font-dpr(20px);
      position: absolute;
      left: 0;
      bottom:0;
      height: pxTorem(28px);
      line-height: pxTorem(28px);
      text-align: center;
      width: 100%;
      color: #fff;
      background: rgba(0,0,0,.35);
    }
  }
  .box{
    position: relative;
    @include flex(1);
    height: 100%;
    width: 100%;
  }
  h3{
    overflow: hidden;
    height: pxTorem(60px);
    line-height: pxTorem(60px / 2);
    @include font-dpr(24px);
    color: #3f4548;
    b{
      color: $green-base;
      font-weight: normal;
    }
  }
  .bottom{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: pxTorem(40px);
  }
  // 价格
  .price{
    float: left;
    @include font-dpr(36px);
    color: $orange-base;
    b{
      font-weight: normal;
      @include font-dpr(20px);
    }
  }
  .limit{
    margin:pxTorem(4px) 0 0 pxTorem(8px);
    float: left;
    height: pxTorem(28px);
    line-height: pxTorem(28px);
    color: #fff;
    background: #fa5741;
    @include font-dpr(20px);
    padding:0 pxTorem(10px);
    @include border-radius(2px);
  }
  // 数量加减
  .selectNum{
    float: right;
    @import "components/selectNum";
    @include selectNum;
  }
}


.footerInfo{
  $h:66px;
  height: pxTorem($h);
  line-height: pxTorem($h);
  background: #f7f7f7;
  padding: 0 pxTorem(20px);
  color: #6c7072;
  @include font-dpr(24px);
}

.footerCart{
  $h:98px;
  @include display-flex();
  .box{
    @include display-flex();
    @include align-items();
    @include flex(1);
    background: #fbfbfb;
    @include border1px(#e6e6e6,top);
  }
  input[type='radio']{
    width: pxTorem(36px);
    height: pxTorem(36px);
    display: block;
    margin:0 pxTorem(16px) 0 pxTorem(24px);
    position: relative;
    //清除默认input格式
    border:0;
    @include appearance(none);
    outline:none;
    background:none;
    &:after{
      position: absolute;
      left:0;
      top:0;
      width: pxTorem(36px);
      height: pxTorem(36px);
      content: '\20';
      @extend %icoRem;
      background-image: url("../images/icon_shoppingtrolley_circle_n@2x.png");
    }
    &:checked{
      &:after{
        background-image: url("../images/icon_shoppingtrolley_selet_p@2x.png");
      }
    }
  }
  label{
    height: pxTorem($h);
    line-height: pxTorem($h);
    display: block;
    @include font-dpr(28px);
    color: #3f4548;
    padding-right:pxTorem(32px);
  }
  .total{
    color: #3f4548;
    span{
      display: block;
      @include font-dpr(30px);
    }
    b{
      color: $orange-base;
      font-weight: normal;
    }
    em{
      @include font-dpr(22px);
      display: block;
      font-style: normal;
    }
  }
  .next{
    width: pxTorem(198px);
    height: pxTorem($h);
    line-height: pxTorem($h);
    text-align: center;
    background: $green-base;
    color:#fff;
    @include font-dpr(32px);
  }
  .del{
    background:#fa5741;
  }
}
