@charset "UTF-8";
@import "common/css3";
@import "common/common";

.search{
  $h:56px;
  padding: pxTorem(16px) pxTorem(20px);
  height: pxTorem($h);
  @include display-flex();
  @include border1px(#e6e6e6);
  .box{
    background: #f1f1f1;
    height: pxTorem($h);
    @include display-flex();
    @include align-items();
    @include flex(1);
    @include border-radius(pxTorem(8px));
  }
  i{
    margin:0 pxTorem(10px);
    width: pxTorem(24px);
    height: pxTorem(26px);
    @extend %icoRem;
    background-image: url("../images/icon_search@2x.png");
    display: block;
  }
  input[type='search']{
    @include font-dpr(28px);
    display: block;
    width: 100%;
    @include flex(1);
    height: pxTorem($h);
    border:0;
    background: none;
  }
  .exit{
    @include font-dpr(28px);
    padding-left:pxTorem(20px);
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: $green-base;
  }
}

.scrollNotice{
  margin-top: pxTorem(18px);
  $h:36px;
  height: pxTorem($h);
  padding:pxTorem(18px) 0;
  background: #feefed;
  @include display-flex();
  i{
    display: block;
    margin:0 pxTorem(16px) 0 pxTorem(20px);
    width: pxTorem($h);
    height: pxTorem($h);
    @extend %icoRem;
    background-image: url("../images/icon_store_zoumadeng@2x.png");
  }
  div{
    @include flex(1);
    height: pxTorem($h);
    overflow: hidden;
    white-space: nowrap;
  }
  span{
    display: inline-block;
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: #fa5741;
    @include font-dpr(24px);
  }
}

.main{
  //@include display-flex();
  background: #fff;
  position: relative;
}

.classifyList{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  $h:98px;
  $pl:25px;
  width: pxTorem(180px);
  //margin-right: pxTorem(16px);
  ul{
    margin-top: pxTorem(18px);
  }
  li{
    position: relative;
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: #3f4548;
    @include font-dpr(28px);
    background: #f0f4f3;
    text-align: center;
    &.select{
      background: #fff;
      &:after{
        content: '\20';
        width: pxTorem(8px);
        height: 100%;
        position: absolute;
        left:0;
        top:0;
        background: $green-base;
      }
    }
  }
}

.contentList{
  position: absolute;
  left:pxTorem(180px + 16px);
  top:0;
  height: 100%;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  //width: 100%;
  //@include flex(1);
  ul{
    @import "components/list";
    @include listRow();
    &:nth-child(1){
      margin-top: pxTorem(18px);
    }
  }

}


// 加入购物车
.footerCart{
  @import "components/footerCart";
  @include footerCart;
}




