@charset "UTF-8";
@import "common/css3";
@import "common/common";

.search{
  $h:56px;
  padding: pxTorem(16px) pxTorem(20px);
  height: pxTorem($h);
  @include display-flex();
  @include border1px(#e6e6e6);
  .box{
    background: #f1f1f1;
    height: pxTorem($h);
    @include display-flex();
    @include align-items();
    @include flex(1);
    @include border-radius(pxTorem(8px));
  }
  i{
    margin:0 pxTorem(10px);
    width: pxTorem(24px);
    height: pxTorem(26px);
    @extend %icoRem;
    background-image: url("../images/icon_search@2x.png");
    display: block;
  }
  input[type='search']{
    @include font-dpr(28px);
    display: block;
    width: 100%;
    @include flex(1);
    height: pxTorem($h);
    border:0;
    background: none;
  }
  .exit{
    @include font-dpr(28px);
    padding-left:pxTorem(20px);
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: $green-base;
  }
}

// 搜索列表
.searchList{
  background: $bg-base;
  $h:176px;
  $infoH:42px;
  ul{
    //margin-top:pxTorem(20px);
  }
  li{
    background: #fff;
    height: pxTorem($h);
    @include border1px(#dddddd);
    padding:pxTorem(20px);
    position: relative;
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  .photo{
    position: relative;
    height: pxTorem($h);
    @include display-flex();
  }
  img{
    display: block;
    width: pxTorem($h);
    height: pxTorem($h);
    vertical-align: middle;
  }
  .box{
    margin-left:pxTorem(20px);
    position: relative;
    @include flex(1);
    height: 100%;
    width: 100%;
  }
  h3{
    overflow: hidden;
    height: pxTorem(60px);
    line-height: pxTorem(60px / 2);
    @include font-dpr(28px);
    color: #3f4548;
    b{
      color: $green-base;
      font-weight: normal;
    }
  }

  .bottom{
    position: absolute;
    left:0;
    bottom:pxTorem(4px);
    width: 100%;
    height: pxTorem(40px);
    @include display-flex();
    @include align-items(center);
    @include justify-content();
  }
  // 价格
  .price{
    @include font-dpr(36px);
    color: $orange-base;
    b{
      //color: $orange-base;
      font-weight: normal;
      @include font-dpr(20px);
    }
  }

  // 马上抢
  .go{
    text-align: center;
    width: pxTorem(98px);
    height: pxTorem(42px);
    line-height: pxTorem(42px);
    background: $green-base;
    color: #fff;
    @include font-dpr(24px);
    @include border-radius(pxTorem(4px));
    &.select{
      background: #bbb;
    }
  }
  // 购物车加
  .num{
    $w:34px;
    width: pxTorem($w);
    height: pxTorem($w);
    @extend %icoRem;
    background-image: url("../images/icon_store_add@2x.png");
    &.select{
      background-image: url("../images/icon_homepage_add@2x.png");
    }
  }

}

// 搜索记录
.searchRecord{
  padding-bottom: pxTorem(50px);
  ul{

  }
  li{
    @include font-dpr(30px);
    padding:0 pxTorem(20px);
    height: pxTorem(88px);
    line-height: pxTorem(88px);
    @include border1px(#f4f4f4);
    @include display-flex();
    @include align-items();
    span{
      display: block;
      @include flex(1);
    }
    i{
      display: block;
      width: pxTorem(16px);
      height: pxTorem(30px);
      @extend %icoRem;
      background-image: url("../images/iconArrowR.png");
    }
  }
  .exit{
    @include font-dpr(28px);
    color: $green-base;
    height: pxTorem(70px);
    line-height: pxTorem(70px);
    text-align: center;
    width: pxTorem(206px);
    border:1px solid $green-base;
    @include border-radius(pxTorem(6px));
    margin: pxTorem(50px) auto 0;
    &:active{
      background: $green-base;
      color: #fff;
    }
  }
}


.scrollNotice{
  margin-top: pxTorem(18px);
  $h:36px;
  height: pxTorem($h);
  padding:pxTorem(18px) 0;
  background: #feefed;
  @include display-flex();
  i{
    margin:0 pxTorem(16px) 0 pxTorem(20px);
    width: pxTorem($h);
    height: pxTorem($h);
    @extend %icoRem;
    background-image: url("../images/icon_store_zoumadeng@2x.png");
  }
  div{
    @include flex(1);
    height: pxTorem($h);
    overflow: hidden;
  }
  p{
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: #fa5741;
    @include font-dpr(24px);
  }
}

.storeContent{
  @include display-flex();
  height: 100%;
}

.classifyList{
  height: 100%;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  $h:98px;
  $pl:25px;
  width: pxTorem(180px);
  margin-right: pxTorem(16px);
  ul{
    margin-top: pxTorem(18px);
  }
  li{
    position: relative;
    height: pxTorem($h);
    line-height: pxTorem($h);
    color: #3f4548;
    @include font-dpr(28px);
    background: #f0f4f3;
    text-align: center;
    &.select{
      background: #fff;
      &:after{
        content: '\20';
        width: pxTorem(8px);
        height: 100%;
        position: absolute;
        left:0;
        top:0;
        background: $green-base;
      }
    }
  }
}

.contentList{
  height: 100%;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  ul{
    &:nth-child(1){
      margin-top: pxTorem(18px);
    }
  }
  width: 100%;
  @include flex(1);
  $h:126px;
  $infoH:34px;
  li{
    height: pxTorem($h);
    @include border1px(#e6e6e6);
    padding:pxTorem(20px) pxTorem(20px) pxTorem(20px) 0;
    @include display-flex();
  }
  .photo{
    position: relative;
    width: pxTorem($h);
    height: pxTorem($h);
    margin-right:pxTorem(20px);
    img{
      width: pxTorem($h);
      height: pxTorem($h);
      vertical-align: middle;
    }
    i{
      font-style: normal;
      &.activity,&.goIng{
        position: absolute;
        left:0;
        top:pxTorem(-3px);
        color: #fff;
        //padding-left:pxTorem(6px);
        @include font-dpr(24px);
        height: pxTorem(32px);
        line-height: pxTorem(32px);
        @extend %icoRem;
        text-align: center;
      }
      // 活动
      &.activity{
        width: pxTorem(66px);
        background-image: url("../images/tag_store_activity@2x.png");
      }
      // 抢购中
      &.goIng{
        width: pxTorem(87px);
        background-image: url("../images/tag_store_panicbuying@2x.png");
      }
    }
  }
  .box{
    position: relative;
    @include flex(1);
    height: 100%;
    width: 100%;
  }
  h3{
    overflow: hidden;
    //margin: pxTorem(16px) pxTorem(20px) pxTorem(20px);
    height: pxTorem(60px);
    line-height: pxTorem(60px / 2);
    @include font-dpr(24px);
    color: #3f4548;
    b{
      color: $green-base;
      font-weight: normal;
    }
  }
  .bottom{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: pxTorem(40px);
    @include display-flex();
    @include align-items(center);
    @include justify-content();
  }
  // 价格
  .price{
    @include font-dpr(36px);
    color: $orange-base;
    b{
      font-weight: normal;
      @include font-dpr(20px);
    }
  }

  // 马上抢
  .go{
    text-align: center;
    width: pxTorem(98px);
    height: pxTorem(40px);
    line-height: pxTorem(40px);
    background: $green-base;
    color: #fff;
    @include font-dpr(24px);
    @include border-radius(pxTorem(4px));
  }
}


// 加入购物车
.footerCart{
  @import "components/footerCart";
  @include footerCart;
}




