@charset "UTF-8";
@import "common/css3";
@import "common/common";





// 商品专题
.subject{
  background: $bg-base;
  .adPhoto{
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
}


// 商品列表
.subjectList{
  @import "components/list";
  @include listCol;
  margin-top:pxTorem(32px);
}


// 加入购物车
.footerCart{
  @import "components/footerCart";
  @include footerCart;
}



// 已经到最底了
.mostFooter{
  padding:pxTorem(35px) 0 pxTorem(50px);
  margin:0 pxTorem(20px);
  text-align: center;
  @include display-flex();
  @include align-items();
  @include justify-content(center);
  span{
    color: #6c7072;
    margin:0 pxTorem(34px);
  }
  &:before,&:after{
    content: '\20';
    background: #e6e6e6;
    height: 1px;
    display: block;
    @include flex(1);
  }
}

// 浮动购物车
.floatShopping{
  $h:144px;
  width: pxTorem($h);
  height: pxTorem($h);
  @include border-radius(100%);
  position: fixed;
  right:0;
  //bottom:pxTorem(88px);
  bottom:0;
  @extend %icoRem;
  background-image: url("../images/icon_shoppingcart1@2x.png");
  b{
    position: absolute;
    right:pxTorem(14px);
    top:pxTorem(12px);
    color: #fff;
    background: $orange-base;
    @include font-dpr(20px);
    padding:pxTorem(6px) pxTorem(12px);
    @include border-radius(pxTorem(20px));
  }
}

// 小球
.ball-container{
  .ball {
    position: fixed;
    right:0;
    bottom:pxTorem(88px + 24px);
    z-index: 10;
    transition: all 1s cubic-bezier(0.49, -0.29, 0.75, 0.41);
  }
  .inner {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $orange-base;
    transition: all 0.4s linear;
  }
}
