@charset "UTF-8";
@import "common/css3";
@import "common/common";





// 专题优惠券
.subjectCoupon{
  background: $bg-base;
  .adPhoto{
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
}

// 优惠券列表
.subjectCouponList{
  @import "components/couponList";
  @include couponList;
}
