@charset "UTF-8";
@import "common/css3";
@import "common/common";

// 添加地址
.userAddAddress{
  background: #f7f7f7;
  padding-top: pxTorem(20px);

  .import{
    $h:88px;
    background: #fff;
    height: pxTorem($h);
    @include border1px(#e6e6e6);
    padding:0 pxTorem(20px);
    @include display-flex();
    input{
      border: 0;
      @include flex(1);
      display: block;
      height: pxTorem($h);
      line-height: pxTorem($h);
      @include font-dpr(30px);
      color: #43515c;
    }
  }

  .selectAddress{
    $h:88px;
    background: #fff;
    height: pxTorem($h);
    @include border1px(#e6e6e6);
    @include display-flex();
    @include align-items();
    @include justify-content();
    padding:0 pxTorem(20px);
    span{
      display: block;
      height: pxTorem($h);
      line-height: pxTorem($h);
      @include font-dpr(30px);
      color: #999;
      &.select{
        color: #43515c;
      }
    }
    i{
      display: block;
      width: pxTorem(16px);
      height: pxTorem(30px);
      @extend %icoRem;
      background-image: url("../images/iconArrowR.png");
    }
  }

  .detailedAddress{
    background: #fff;
    @include font-dpr(30px);
    padding:pxTorem(27px) pxTorem(20px);
    color: #999;
    &.select{
      color: #43515c;
    }
  }

  .setDefault {
    margin-top: pxTorem(20px);

    @import "components/selectRowRadio";
    @include selectRowRadio($display:block);
  }
}



// 选择小区
.userSelectAddress{
  margin-top:pxTorem(20px);
  $h:88px;
  ul{

  }
  @import "components/selectRowRadio";
  @include selectRowRadio;

}


// 提交按钮
.userAddAddressBtn{
  @import "components/btn";
  @include one;
}
