@charset "UTF-8";
@import "common/css3";
@import "common/common";

// 申请退单
.userApplyBack{
  background: $bg-base;

  .info{
    $h:88px;
    height: pxTorem($h);
    background: #fff;
    @include display-flex();
    @include align-items();
    @include justify-content();
    padding:0 pxTorem(20px);
    margin-top:pxTorem(20px);
    @include font-dpr(28px);
    span{
      display: block;
      color: #43515a;
    }
    strong{
      display: block;
      color: $orange-base;
    }
    em{
      display: block;
      font-style: normal;
      color: #999;
    }
  }

  .title{
    $h:60px;
    height: pxTorem($h);
    line-height: pxTorem($h);
    padding:0 pxTorem(20px);
    color: #999;
    @include font-dpr(24px);
  }


  .selectExitList{
    @import "components/selectRowRadio";
    @include selectRowRadio($display:block);
  }
}

// 按钮
.userApplyBackBtn{
  @import "components/btn";
  @include one;
}

