@charset "UTF-8";
@import "common/css3";
@import "common/common";

// 选择小区
// 确认订单-选择小区
.userAddress{
  background: $bg-base;
  .title{
    $h:60px;
    height: pxTorem($h);
    line-height: pxTorem($h);
    padding-left: pxTorem(20px);
    color: #999999;
    @include font-dpr(24px);
  }
  ul{
    @import "components/addressList";
    @include addressList;
  }
}


// 确认订单-添加地址按钮
.userAddressBtn{
  @import "components/btn";
  @include one(a);
}
