@charset "UTF-8";
@import "common/css3";
@import "common/common";





// 我的优惠券
.userCoupon{
  background: $bg-base;
  .hint{
    $h:54px;
    height: pxTorem($h);
    text-align: center;
    margin-top:pxTorem(20px);
    span{
      height: pxTorem($h);
      line-height: pxTorem($h);
      display: inline-block;
      background: #898989;
      color: #fff;
      @include font-dpr(28px);
      padding:0 pxTorem(28px);
      @include border-radius(pxTorem(24px));
    }
  }

  .see{
    $h:60px;
    margin:pxTorem(20px) pxTorem(20px) pxTorem(50px);
    border:1px solid #a9b2bb;
    @include border-radius(pxTorem(6px));
    height: pxTorem($h);
    line-height: pxTorem($h);
    text-align: center;
    color: #6a757b;
    @include font-dpr(24px);
    background: #fff;
  }
}



// 优惠券列表
.userCouponList{
  @import "components/couponList";
  @include couponList;
}


// 当前没有数据哦
.notData{
  @import "components/notData";
  @include notData;
}

