@charset "UTF-8";
@import "common/css3";
@import "common/common";

// 选择小区
// 确认订单-选择小区
.userAddress{
  background: $bg-base;
  .title{
    $h:60px;
    height: pxTorem($h);
    line-height: pxTorem($h);
    padding-left: pxTorem(20px);
    color: #999999;
    @include font-dpr(24px);
  }
  ul{
    background: #fff;
  }
  li{
    position: relative;
    @include border1px(#e6e6e6);
    @include font-dpr(28px);
    padding:pxTorem(16px) pxTorem(20px);
    div{
      color: #3f4548;
    }
    span{
      line-height: pxTorem(50px);
      display: inline-block;
      &.name{
        min-width: pxTorem(104px);
      }
      &.tel{}
    }
    p{
      line-height: pxTorem(40px);
      color: #6c7072;
    }
    i{
      position: absolute;
      right: pxTorem(20px);
      top:0;
      width: pxTorem(70px);
      height: pxTorem(66px);
      @extend %icoRem;
      background-image: url("../images/icon_location_ attestation@2x.png");
    }
    //不可配送
    &.select{
      span,p{
        color: #bbb;
      }
    }
  }
}


// 确认订单-添加地址按钮
.userAddressBtn{
  @import "components/btn";
  @include one(div);
}
